<h1>Game</h1>
<form action="/game" method="POST">
  Name: <input type="textbox" name="gameName"></input>
  Game Time: <input type="textbox" name="gameTime"></input>
  Game Type: <input type="textbox" name="gameType"></input>
  Number of Players needed: <input type="number" name="minimumPlayers"></input>
  <input type="submit"></input>
</form>