<h1>Create a New Game</h1>
<form action="/game" method="POST">
  Name: <input type="textbox" name="gameName"></input>
  Game Time: <input type="textbox" name="gameTime"></input>
  Game Type: <input type="textbox" name="gameType"></input>
  Number of Players needed: <input type="number" name="minimumPlayers"></input>
  Player Phone Numbers: <input type="textbox" name="players"></input>
  Location: <input type="textbox" name="gameLocation"></index>
  Maximum Number of Players: <input type="number" name="PlayerLimit"></input>
  <input type="submit"></input>
</form>