  <div class="row-fluid">
    <div class="span10 offset1">
      <div class="jumbotron hero-unit">
        <div>
          <h1>OpenRecess!</h1><span class="superscript">Alpha</span>
        </div>
        <p class="lead splash-lead">Ball so hard, Other Fuckers wanna find me!</p>
        <a class="btn btn-large btn-success" href="/register">Sign up today</a>
        <a class="btn btn-large btn-info" href="/FAQ">How It Works</a>
      </div>
    </div>
  </div>