<h1>Login</h1>
<form action="/login" method="POST">
<div>Email: <input type="text" name="login"></input></div>
<div>Password: <input type="password" name="password"></input></div>
<div><input type="submit" value="Sign In"/></div>
</form>