<h1>Register</h1>
<form action="/register" method="POST">
<div>Email: <input type="text" name="username"/></div>
<div>Password: <input type="password" name="password"/></div>
<div><input type="submit" value="Sign up"/></div>
</form>