<<<<<<< HEAD
/* Universal */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.divider {
  height: 1px;
  margin: 9px 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #fff;
}
div.main-content {
  min-height: 400px;
  margin-top: -20px;
}
.left {
  float: left;
}
.right {
  float: right;
}
/* Header */
.header {
  padding: 0;
  margin: 0;
}
.header li {
  padding-right: 20px;
  font-size: 110%;
  margin: 0;
  padding: 0;
  text-align: center;
}
.dropdown-menu .signin-button {
  width: 96%;
}
.dropdown-menu label {
  font-weight: bold;
  font-size: 16px;
}
.dropdown-menu .signin-input,
.dropdown-menu label {
  margin-left: 10px;
  margin-right: 10px;
  width: 156px;
}
/* Splash */
.jumbotron h1 {
  color: #fff;
  text-shadow: #000 3px 5px 20px;
  display: inline-block;
}
.jumbotron p {
  text-shadow: rgba(240,232,232,0.75) 1px 1px 4px;
}
.jumbotron {
  text-align: center;
  background: rgba(126,123,123,0.69);
  box-shadow: 0px 0px 89px #566ba0 inset;
}
.jumbotron p,
.jumbotron a,
.jumbotron h1 {
  padding: 20px;
}
.splash-lead {
  color: #2877c0;
}
.superscript {
  display: inline-block;
  vertical-align: top;
  text-shadow: #000 3px 5px 20px;
  font-size: 14px;
  padding-top: 21px;
  color: #fff;
}
/* Footer */
div.footer {
  margin-bottom: 40px;
}
div.footer-right ul,
div.footer-right li {
  list-style: none;
  display: inline;
}
div.footer ul {
  margin: 0;
}
div.footer li a {
  margin-left: 20px;
}

body{font:14px "Lucida Grande",Helvetica,Arial,sans-serif}
a{color:#00b7ff}
.divider{height:1px;margin:9px 1px;overflow:hidden;background-color:#e5e5e5;border-bottom:1px solid #fff}
div.main-content{min-height:400px;margin-top:-20px}
.left{float:left}
.right{float:right}
.header{padding:0;margin:0}
.header li{padding-right:20px;font-size:110%;margin:0;padding:0;text-align:center}
.dropdown-menu .signin-button{width:96%}
.dropdown-menu label{font-weight:bold;font-size:16px}
.dropdown-menu .signin-input,.dropdown-menu label{margin-left:10px;margin-right:10px;width:156px}
.jumbotron h1{color:#fff;text-shadow:#000 3px 5px 20px;display:inline-block}
.jumbotron p{text-shadow:rgba(240,232,232,0.75) 1px 1px 4px}
.jumbotron{text-align:center;background:rgba(126,123,123,0.69);box-shadow:0 0 89px #566ba0 inset}
.jumbotron p,.jumbotron a,.jumbotron h1{padding:20px}
.splash-lead{color:#2877c0}
.superscript{display:inline-block;vertical-align:top;text-shadow:#000 3px 5px 20px;font-size:14px;padding-top:21px;color:#fff}
div.footer{margin-bottom:40px}
div.footer-right ul,div.footer-right li{list-style:none;display:inline}
div.footer ul{margin:0}
div.footer li a{margin-left:20px}
.game span{border:1px solid #000}

