html{font-size:16px}
body{font:14px "Lucida Grande",Helvetica,Arial,sans-serif;background-color:rgba(226,226,226,0.64);height:100%}
#main{margin-top:1.75em}
a{color:#00b7ff;text-decoration:none}
.divider{height:1px;margin:9px 1px;overflow:hidden;background-color:#e5e5e5;border-bottom:1px solid #fff}
div.main-content{min-height:400px;margin-top:-20px}
.left{float:left}
.right{float:right}
.header{padding:0;margin:0}
.navbar a.brand{color:#2bebc4;text-decoration:none}
.header li{padding-right:20px;font-size:110%;margin:0;padding:0;text-align:center}
#header-inner{border-bottom-left-radius:25px;border-bottom-right-radius:25px;box-shadow:0 -4px 8px #2bebc4 inset}
.dropdown-menu .signin-button{width:96%}
.dropdown-menu label{font-weight:bold;font-size:16px}
.dropdown-menu .signin-input,.dropdown-menu label{margin-left:10px;margin-right:10px;width:156px}
.hero-unit{background-color:rgba(5,27,41,0);padding:20px}
.jumbotron h1{color:#2bebc4;text-shadow:0 -1px 0 rgba(0,0,0,0.5);display:inline-block}
.jumbotron p{text-shadow:rgba(240,232,232,0.75) 1px 1px 4px}
.jumbotron{margin-bottom:75px;margin-top:30px;padding-bottom:72px;border-radius:30px;box-shadow:inset 1px 1px 9px rgba(0,0,0,0.25),0 1px 0 #fff;border:1px solid #c8c8c8;background:#fff;text-align:center;}
.jumbotron .inner-jumbotron{height:90%;background-color:rgba(5,27,41,0);border-radius:66px}
.jumbotron p,.jumbotron a,.jumbotron h1{padding:5px}
.splash-lead{color:#2877c0}
.superscript{display:inline-block;padding-top:21px;text-shadow:0 -1px 0 rgba(0,0,0,0.5);vertical-align:top;font-size:14px;font-weight:bold;color:#6792fd}
li.login-right{float:right}
#dropdown-toggle{background-color:rgba(255,255,255,0);}
#dropdown-toggle .username{font-size:70%}
#login-dropdown{width:50%;}
#login-dropdown li{margin:5px;border-radius:5px}
#login-dropdown .divider{background-color:#e5e5e5}
.splash-steps{height:255px;}
.splash-steps .step{height:90%;border-radius:10px}
.splash-steps .step-inner{color:#fff;position:relative}
.splash-steps .step-img{margin-left:auto;margin-right:auto;width:50%}
.splash-steps i{position:absolute;top:45%;left:0;font-size:3.5rem;color:#2bebc4;margin-left:-10%}
div.footer{margin-bottom:20px}
div.footer-right ul,div.footer-right li{list-style:none;display:inline}
div.footer ul{margin:0}
div.footer li a{margin-left:20px;text-decoration:none}
.createformtitle{margin:10px 10px 25px 10px}
.hidden{display:none}
.buttonhidden{visibility:hidden}
.question{border:5px solid #1abc9c;box-shadow:10px 10px 5px #888;padding:10px 10px 20px 10px;height:200px;width:400px;vertical-align:text-top}
.questionheader{font-size:175%}
.gamename{width:90%;margin-bottom:15px}
.gametype{width:90%}
.numplayer{width:75px;text-align:center;margin-left:5px}
.players{margin-left:5px}
.nextprevious{height:75px}
.addphone{background-color:#fff;margin:10px}
.inviteelist{border:5px solid #1abc9c;box-shadow:10px 10px 5px #888;width:400px;height:auto;padding:10px 10px 20px 10px}
.submitbtn{font-weight:bold;margin-left:60px;margin-top:80px}
#map-canvas{position:relative;display:block;background:rgba(255,255,255,0.5);border:1px solid rgba(0,0,0,0.08);-moz-box-shadow:inset 4px 4px 4px rgba(0,0,0,0.05);-webkit-box-shadow:inset 4px 4px 4px rgba(0,0,0,0.05);box-shadow:4px 4px rgba(0,0,0,0.05);margin-bottom:10px;padding:10px;-webkit-border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;-o-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px;height:400px;margin:0;border:3px solid rgba(0,0,0,0.5);}
#map-canvas img{max-width:inherit}
#results{font-family:Arial,Helvetica,sans-serif;height:398px;padding:5px;border:1px solid #999;background:#34495e;}
#results .todo-search-field{overflow:scroll;box-shadow:inner 0 0 5px #fff;height:1.5em;text-align:center}
#results .todo-search-field:hover{background-color:#ecf0f1}
#results .todo-search{padding-left:8px;background-color:#cfcfcf;margin-bottom:10px}
#places{height:250px;overflow:scroll}
.list-games{margin-top:15px}
.infobox{background-color:#1abc9c;border-radius:10px}
.todo li{background:#bdc5ce 92% center no-repeat}
.gamelist-title{font-weight:bold;color:#fff;display:block;font-size:90%;}
.gamelist-title:hover{color:#2bebc4}
div.span10.offset1.game,div.span5.team{margin-left:0;margin-right:3%}
.game{vertical-align:top;background-color:#2c3e50;border-radius:8px 8px 6px 6px;color:#fff;margin-bottom:20px;padding:5px;border:5px solid #2bebc4;height:100%;position:relative;}
.game li{list-style:none}
.game .delete{position:absolute;top:0;right:0;margin:5px;font-size:90%;}
.game .delete span{padding-right:3px}
.game table{margin-top:5px;margin-left:15px;text-align:center;}
.game table tr{border:1px solid #fff}
.game table td{padding:2px;border-right:1px solid #fff}
.game .value{color:#a3daff}
.game .span4{height:100%;padding:5px;font-size:80%;border-right:3px solid #2bebc4}
.game .horizontal-divider{border:1px solid #2bebc4;height:100%}
.field,.value{font-size:85%}
.field{font-weight:bold}
.value{font-weight:none}
.teams-page{position:relative;}
.teams-page #createTeam{float:right;position:absolute;top:0;right:0;margin-top:15px;}
.teams-page #createTeam span{padding-right:2px}
.team{vertical-align:top;background-color:#2c3e50;border-radius:8px 8px 6px 6px;color:#fff;margin:0;margin-bottom:20px;padding:5px;border:5px solid #2bebc4;}
.team .title{position:relative}
.team .roster{background-color:rgba(111,138,165,0.83);padding:5px;border-radius:5px;font-size:80%;border:2px solid #2bebc4}
.team .team-caret{background:#2c3e44 url("../images/select/toggle.png") no-repeat right center;border-left:2px solid rgba(52,73,94,0.15);border-radius:0 6px 6px 0;height:100%;position:absolute;top:0;width:42px;-webkit-transition:.25s;-moz-transition:.25s;-o-transition:.25s;transition:.25s;-webkit-backface-visibility:hidden}
.team .name{display:inline-block}
.team #deleteTeam{float:right;}
.team input{padding:0}
.team li{list-style:none}
.team button{font-size:80%}
.team .sms-warning{display:block;text-align:center;font-size:65%;width:75%;margin:auto;margin-bottom:5px}
.team .add-roster-player{float:right;}
.team .add-roster-player span.fui-plus-16{margin-right:2px}
.infobox-wrapper{display:none}
#showMore{color:#000;font-weight:700;font-family:"Lato",sans-serif;margin-top:7px;border:solid 1px #357d94;box-shadow:1px 1px 1px #357d94}
#infobox{border:5px solid #000;margin-top:8px;background:#333;color:#fff;font-family:Arial,Helvetica,sans-serif;font-size:12px;padding:.5em 1em;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;text-shadow:0 -1px #000;-webkit-box-shadow:0 0 8px #000;box-shadow:0 0 8px #000}
#target{margin-top:9px;z-index:1;opacity:.75;position:absolute;margin-left:15em}
#target:hover{opacity:1;border:2px solid #000}
.login-form{position:relative;margin-top:6em;margin-bottom:10em;background-color:#dcdcdc;border-width:0;text-align:center}
.login-ball{display:block;background:#d9f1ee;border-radius:55px;box-shadow:0 0 8px rgba(0,0,0,0.25);position:absolute;width:55px;left:-27.5px;top:-27.5px;z-index:1;opacity:.6}
.login-container{margin:auto;width:365px}
.splash_img{opacity:.3;margin:1.5em}
.btn-mini{background-color:#1ecca9}
.dateText{color:#000}
