/* Variables */
/* Universal */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(214,214,214,0.64);
  height: 100%;
}
a {
  color: #00b7ff;
}
.divider {
  height: 1px;
  margin: 9px 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #fff;
}
div.main-content {
  min-height: 400px;
  margin-top: -20px;
}
.left {
  float: left;
}
.right {
  float: right;
}
/* Header */
.header {
  padding: 0;
  margin: 0;
}
.navbar a.brand {
  color: #1fca6a;
  text-decoration: none;
}
.header li {
  padding-right: 20px;
  font-size: 110%;
  margin: 0;
  padding: 0;
  text-align: center;
}
#header-inner {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px -4px 8px rgba(74,190,162,0.76) inset;
}
.dropdown-menu .signin-button {
  width: 96%;
}
.dropdown-menu label {
  font-weight: bold;
  font-size: 16px;
}
.dropdown-menu .signin-input,
.dropdown-menu label {
  margin-left: 10px;
  margin-right: 10px;
  width: 156px;
}
/* Splash */
.hero-unit {
  padding: 20px;
}
.jumbotron h1 {
  color: #1fca6a;
  text-shadow: #000 3px 5px 20px;
  display: inline-block;
}
.jumbotron p {
  text-shadow: rgba(240,232,232,0.75) 1px 1px 4px;
}
.jumbotron {
  text-align: center;
  margin-top: 15px;
  border-radius: 10px;
  background-color: #fff;
}
.jumbotron .inner-jumbotron {
  background-color: rgba(214,214,214,0.64);
  height: 90%;
  padding: 5%;
  border-radius: 10px;
}
.jumbotron p,
.jumbotron a,
.jumbotron h1 {
  padding: 5px;
}
.splash-lead {
  color: #2877c0;
}
.superscript {
  display: inline-block;
  vertical-align: top;
  text-shadow: #000 3px 5px 20px;
  font-size: 14px;
  padding-top: 21px;
  color: #fff;
}
li.login-right {
  float: right;
}
#dropdown-toggle {
  background-color: rgba(255,255,255,0);
}
#dropdown-toggle .username {
  font-size: 70%;
}
#login-dropdown {
  width: 50%;
}
#login-dropdown li {
  margin: 5px;
  border-radius: 5px;
}
#login-dropdown .divider {
  background-color: #e5e5e5;
}
.splash-steps {
  height: 255px;
}
.splash-steps .step {
  background-color: #fff;
  height: 90%;
  border-radius: 10px;
  padding: 2%;
}
.splash-steps .step-inner {
  background-color: rgba(214,214,214,0.64);
  height: 100%;
}
/* Footer */
div.footer {
  margin-bottom: 40px;
}
div.footer-right ul,
div.footer-right li {
  list-style: none;
  display: inline;
}
div.footer ul {
  margin: 0;
}
div.footer li a {
  margin-left: 20px;
}
/* Games */
.game span {
  border: 1px solid #000;
}
