/* Variables */
$bg-color = rgba(214, 214, 214, 0.64)
$sea-green = #2c3e50
$green = rgb(43, 235, 196)

bevel() {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5)
}

/* Universal */
html
  font-size: 16px

body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color: rgba(226, 226, 226, 0.64)
  height: 100%

#main
  margin-top: 1.75em
a
  color: #00B7FF
  text-decoration: none

.divider
  height: 1px
  margin: 9px 1px
  overflow: hidden
  background-color: #e5e5e5
  border-bottom: 1px solid #ffffff

div.main-content
  min-height: 400px
  margin-top: -20px

.left
  float: left

.right
  float: right

/* Header */
.header
  padding: 0
  margin: 0

.navbar a.brand
  color: $green
  text-decoration: none

.header li
  padding-right: 20px
  font-size: 110%
  margin: 0
  padding: 0
  text-align: center

#header-inner
  border-bottom-left-radius: 25px
  border-bottom-right-radius: 25px
  box-shadow: 0px -4px 8px $green inset

.dropdown-menu .signin-button
  width: 96%

.dropdown-menu label
  font-weight: bold
  font-size: 16px

.dropdown-menu .signin-input, .dropdown-menu label
  margin-left: 10px
  margin-right: 10px
  width: 156px

/* Splash */
.hero-unit
  background-color: rgba(5, 27, 41, 0)
  padding: 20px

.jumbotron h1
  color: rgb(43, 235, 196)
  bevel()
  display: inline-block


.jumbotron p
  text-shadow: rgba(240, 232, 232, 0.75) 1px 1px 4px

.jumbotron
  margin-bottom: 75px
  margin-top: 30px
  padding-bottom: 72px

  border-radius: 30px
  // box-shadow: 1px 1px 40px rgba(129, 129, 129, 0.52);
  // background-color: white

  box-shadow: inset 1px 1px 9px rgba(0, 0, 0, 0.25), 0 1px 0 rgb(255, 255, 255);
  border: 1px solid rgb(200, 200, 200);
  background: rgb(255, 255, 255);

  text-align: center

  .inner-jumbotron
    height: 90%
    background-color: rgba(5, 27, 41, 0)
    border-radius: 66px

.jumbotron p, .jumbotron a, .jumbotron h1
  padding:5px

.splash-lead
  color: rgb(40, 119, 192)

.superscript
  display: inline-block
  padding-top: 21px

  bevel()

  vertical-align: top

  font-size: 14px
  font-weight: bold
  color: rgb(103, 146, 253)

li.login-right
  float: right

#dropdown-toggle
  background-color: rgba(255, 255, 255, 0)
  .username
    font-size: 70%

#login-dropdown
  width: 50%
  li
    margin: 5px
    border-radius: 5px
  .divider
    background-color: rgb(229, 229, 229)

.splash-steps
  height: 255px
  .step
    height: 90%
    border-radius: 10px
  .step-inner
    color: white
    position: relative
  .step-img
    margin-left: auto
    margin-right: auto
    width: 50%
  i
    position: absolute
    top: 45%
    left: 0
    font-size: 3.5rem
    color: $green
    margin-left: -10%

/* Footer */
div.footer
  margin-bottom: 20px

div.footer-right ul, div.footer-right li
  list-style: none
  display: inline

div.footer ul
  margin: 0

div.footer li a
  margin-left: 20px
  text-decoration: none

/* Create Games */
.createformtitle
  margin: 10px 10px 25px 10px

.hidden
  display: none

.buttonhidden
  visibility: hidden

.question
  border: 5px solid #1abc9c
  box-shadow: 10px 10px 5px #888888
  padding: 10px 10px 20px 10px
  height: 200px
  width: 400px
  vertical-align: text-top

.questionheader
  font-size: 175%

.gamename
  width: 90%
  margin-bottom: 15px

.gametype
  width: 90%

.numplayer
  width: 75px
  text-align: center
  margin-left: 5px

.players
  margin-left: 5px

.nextprevious
  height: 75px
  

.addphone
  background-color: white
  margin: 10px

.inviteelist
  border: 5px solid #1abc9c
  box-shadow: 10px 10px 5px #888888
  width: 400px
  height: auto
  padding: 10px 10px 20px 10px

.submitbtn
  font-weight: bold
  margin-left: 60px
  margin-top: 80px

/* Maps */
#map-canvas
  position: relative
  display: block
  background: rgba(255,255,255,0.5)
  border: 1px solid rgba(0,0,0,0.08)

  -moz-box-shadow: inset 4px 4px 4px rgba(0,0,0,0.05)
  -webkit-box-shadow: inset 4px 4px 4px rgba(0,0,0,0.05)
  box-shadow: 4px 4px rgba(0,0,0,0.05)
  margin-bottom: 10px
  padding: 10px

  -webkit-border-radius: 5px 5px 5px 5px
  -moz-border-radius: 5px 5px 5px 5px
  -o-border-radius: 5px 5px 5px 5px
  border-radius: 5px 5px 5px 5px
  height: 400px
  margin: 0
  border: 3px solid rgba(0, 0, 0, 0.5)

  img
    max-width: inherit

#results
  font-family: Arial, Helvetica, sans-serif
  height: 398px
  padding: 5px
  border: 1px solid #999
  background: #34495E
  .todo-search-field
    overflow: scroll
    box-shadow: inner 0 0 5px white
    height: 1.5em
    text-align: center
  .todo-search-field:hover
    background-color: #ECF0F1
  .todo-search
    padding-left: 8px
    background-color: rgb(207, 207, 207)
    margin-bottom: 10px

#places
  height: 250px
  overflow: scroll

.list-games
  margin-top: 15px

.infobox
  background-color: #1abc9c
  border-radius: 10px

.todo
  li
    background: rgb(189, 197, 206) 92% center no-repeat

.gamelist-title
  font-weight: bold
  color: white
  display: block
  font-size: 90%
  &:hover
    color: $green

/* Manage Games */
div.span10.offset1.game, div.span5.team
  margin-left: 0
  margin-right: 3%

.game
  vertical-align: top
  background-color: $sea-green
  border-radius: 8px 8px 6px 6px
  color: white
  margin-bottom: 20px
  padding: 5px
  border: 5px solid $green
  height: 100%;
  position: relative
  li
    list-style: none
  .delete
    position: absolute
    top: 0
    right: 0
    margin: 5px
    font-size: 90%
    span
      padding-right: 3px
  table
    margin-top: 5px
    margin-left: 15px
    text-align: center
    tr
      border: 1px solid white
    td
      padding: 2px
      border-right: 1px solid white
  .value
    color: rgb(163, 218, 255)
  .span4
    height: 100%
    padding: 5px
    font-size: 80%
    border-right: 3px solid $green
  .horizontal-divider
    border: 1px solid $green
    height: 100%

/* Teams */
.field, .value
  font-size: 85%

.field
  font-weight: bold

.value
  font-weight: none

.teams-page
  position: relative
  #createTeam
    float: right
    position: absolute
    top: 0
    right: 0
    margin-top: 15px
    span
      padding-right: 2px

.team
  vertical-align: top
  background-color: $sea-green
  border-radius: 8px 8px 6px 6px
  color: white
  margin: 0
  margin-bottom: 20px
  padding: 5px
  border: 5px solid $green
  .title
    position: relative
  .roster
    background-color: rgba(111, 138, 165, 0.83)
    padding: 5px
    border-radius: 5px
    font-size: 80%
    border: 2px solid $green
  .team-caret
    background: #2C3E44 url("../images/select/toggle.png") no-repeat right center
    border-left: 2px solid rgba(52, 73, 94, 0.15)
    border-radius: 0 6px 6px 0
    height: 100%
    position: absolute
    top: 0
    width: 42px
    -webkit-transition: 0.25s
    -moz-transition: 0.25s
    -o-transition: 0.25s
    transition: 0.25s
    -webkit-backface-visibility: hidden
  .name
    display: inline-block
  #deleteTeam
    float: right
    span
      padding-right
  input
      padding: 0
  li
    list-style: none
  button
    font-size: 80%
  .sms-warning
    display: block
    text-align: center
    font-size: 65%
    width: 75%
    margin: auto
    margin-bottom: 5px
  .add-roster-player
    float: right
    span.fui-plus-16
      margin-right: 2px

.infobox-wrapper
    display:none

#showMore
  color: black
  font-weight: 700
  font-family: "Lato", sans-serif
  margin-top: 7px
  border: solid 1px rgb(53, 125, 148)
  box-shadow: 1px 1px 1px rgb(53, 125, 148)

#infobox
    border:5px solid black
    margin-top: 8px
    background:#333
    color:#FFF
    font-family:Arial, Helvetica, sans-serif
    font-size:12px
    padding: .5em 1em
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    border-radius: 2px
    text-shadow:0 -1px #000000
    -webkit-box-shadow: 0 0  8px #000
    box-shadow: 0 0 8px #000

#target
  margin-top: 9px
  z-index: 1
  opacity: 0.75
  position: absolute
  margin-left: 15em

#target:hover
  opacity: 1
  border: 2px solid black

$login_form_color = rgb(220, 220, 220)
.login-form
  position: relative
  margin-top: 6em
  margin-bottom: 10em
  background-color: $login_form_color
  border-width: 0
  // color: white
  text-align: center
  // width: 38em
  // margin-left: 25em

$ball_width = 55px
.login-ball
  display: block
  background: rgb(217, 241, 238)
  border-radius: $ball_width
  box-shadow: 0 0 8px rgba(0,0,0,0.25)
  position: absolute
  width: $ball_width
  left: -1*$ball_width + ($ball_width/2)
  top: -1*$ball_width + ($ball_width/2)
  z-index: 1
  opacity: .6

.login-container
  margin: auto
  width: 365px

.splash_img
  opacity: .3
  margin: 1.5em

.btn-mini
  background-color: rgb(30, 204, 169)

.dateText
  color: black
