/* Universal */
body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

.divider
  height: 1px
  margin: 9px 1px
  overflow: hidden
  background-color: #e5e5e5
  border-bottom: 1px solid #ffffff

div.main-content
  min-height: 400px
  margin-top: -20px

.left
  float: left

.right
  float: right

/* Header */
.header
  padding: 0
  margin: 0

.header li
  padding-right: 20px
  font-size: 110%
  margin: 0
  padding: 0
  text-align: center

.dropdown-menu .signin-button
  width: 96%

.dropdown-menu label
  font-weight: bold
  font-size: 16px

.dropdown-menu .signin-input, .dropdown-menu label
  margin-left: 10px
  margin-right: 10px
  width: 156px

/* Splash */
.jumbotron h1
  color: white
  text-shadow: black 3px 5px 20px
  display: inline-block

.jumbotron p
  text-shadow: rgba(240, 232, 232, 0.75) 1px 1px 4px

.jumbotron
  text-align: center
  background: rgba(126, 123, 123, 0.69)
  box-shadow: 0px 0px 89px rgba(86, 107, 160, 1) inset

.jumbotron p, .jumbotron a, .jumbotron h1
  padding:20px

.splash-lead
  color: rgb(40, 119, 192)

.superscript
  display: inline-block
  vertical-align: top
  text-shadow: black 3px 5px 20px
  font-size: 14px
  padding-top: 21px
  color: white

/* Footer */
div.footer
  margin-bottom: 40px

div.footer-right ul, div.footer-right li
  list-style: none
  display: inline

div.footer ul
  margin: 0

div.footer li a
  margin-left: 20px

/* Games */
.game
  span
    border: 1px solid black
    display: 

/* Maps */
#map-canvas
  position: relative
  display: block
  background: rgba(255,255,255,0.5)
  border: 1px solid rgba(0,0,0,0.08)

  -moz-box-shadow: inset 4px 4px 4px rgba(0,0,0,0.05)
  -webkit-box-shadow: inset 4px 4px 4px rgba(0,0,0,0.05)
  box-shadow: 4px 4px rgba(0,0,0,0.05)
  margin-bottom: 10px
  padding: 10px

  -webkit-border-radius: 5px 5px 5px 5px
  -moz-border-radius: 5px 5px 5px 5px
  -o-border-radius: 5px 5px 5px 5px
  border-radius: 5px 5px 5px 5px
  height: 400px

  img
    max-width: inherit

#results 
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -195px;
  height: 380px;
  width: 200px;
  padding: 5px;
  z-index: 5;
  border: 1px solid #999;
  background: #fff;
  opacity: .7;